@charset "UTF-8";
.bg-primary {
    background: #ffffff 0% 0% no-repeat padding-box !important;
}

.admin-schedule-header {
    background: transparent linear-gradient(270deg, #71b7fe 0%, #0984e3 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2.2rem 0;
    .vcn-sch-text {
        text-align: left;
        font: normal normal medium 30px/39px Roboto !important;
        letter-spacing: 0px;
        color: #ffffff;
        font-weight: 600;
    }
    i {
        color: #ffffff;
        font-size: 40px;
    }
}

.btn {
    width: 239px;
    height: 46px;
    background: #0984e3 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 20px #052b4852;
    border-radius: 23px;
    color: white;
    i {
        font-size: 20px;
    }
}

:host ::ng-deep .mat-checkbox-inner-container {
    padding: 10px;
}

.term-cond-text {
    letter-spacing: 0px;
    opacity: 1;
    padding-left: 1rem;
}

.highlight {
    color: #0984e3;
}

.check-box-div {
    margin-top: 12px;
}

.bottom-border {
    border-bottom: 1px solid #707070 !important;
    ul {
        list-style: none;
        padding: 0;
        padding-left: 20px;
    }
}
.vms-sign-up {
    .mat-input-element {
        font-weight: 500;
        font-size: 18px;
    }
}

.form-group {
    width: 343px;
    height: 50px;
}
ul {
    list-style: none;
}

:host ::ng-deep mat-label {
    background-color: white !important;
    color: #0984e3 !important;
}
:host ::ng-deep mat-label:before {
    content: "\2022\2022";
    color: transparent;
}
:host ::ng-deep mat-label:after {
    content: "\2022\2022";
    color: transparent;
}
// :host ::ng-deep .mat-form-field-outline-start, :host ::ng-deep .mat-form-field-outline-gap, :host ::ng-deep .mat-form-field-outline-end{
//     border-color: #0984E3 !important;
// }

:host ::ng-deep mat-form-field:hover {
    // background: red;
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
        border-color: #0984e3 !important;
    }
}

:host ::ng-deep mat-form-field:focus{
    background-color: black !important;
}
