<app-component-header></app-component-header>
<div class="auth-reset-password-header mb-5">
    <div class="container d-flex align-items-center">
        <h1 class="roboto-medium-40 text-light m-0">Reset Password</h1>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <p class="roboto-regular-20">Enter the Mobile Phone Number associated with your account, instruction will be sent on
            your Mobile Phone Number to reset password</p>
        <form class="justify-content-center mb-5">
            <ng-container *ngIf="phoneEmailInputToggler">
                <mat-form-field appearance="outline" style="width: 343px;">
                    <mat-label class="ml-5 pl-3">Mobile Phone Number  Or Email  Address*</mat-label>
                    <input type="text" matInput #phoneInput
                        placeholder="Mobile Phone Number Or Email" (input)="checkForUserPrimaryTypeFun()"
                        [formControl]="mobileNumberControl" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'us'}"
                        (countryChange)="onCountryChange($event)" minlength="10" />
                </mat-form-field>
                <mat-error *ngIf="!mobileNumberControl.valid">{{getValidationMsg()}}</mat-error>
            </ng-container>
            <ng-container *ngIf="!phoneEmailInputToggler">
                <mat-form-field appearance="outline" style="width: 343px;">
                    <mat-label class="ml-5">Mobile Phone Number  Or Email Address*</mat-label>
                    <input type="email" matInput #emailInput
                        placeholder="Mobile Phone Number Or Email" (input)="checkForUserPrimaryTypeFun()"
                        [formControl]="mobileNumberControl" />
                </mat-form-field>
                <mat-error *ngIf="!mobileNumberControl.valid">{{getValidationMsg()}}</mat-error>
            </ng-container>
            <div class="mb-20">
                <button type="submit" (click)="onPhoneIdSub()" class="btn roboto-regular-16 white-text vms-btn-primary"
                    style="width: 327px; height: 52px; border-radius: 52px;">SEND
                    INSTRUCTIONS</button>
            </div>
        </form>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>