<div class="bg-image-container container">

    <div class="verify-phone-number-card">
        <a class="list-group-item float-right border-0" href="javascript:void(0);" [routerLink]="'/'">
            <i class="fa fa-times" aria-hidden="true"></i></a>

        <p class="roboto-bold-20 blue-text mt-5 d-flex justify-content-center pl-5">Verify Mobile Phone Number</p>
        <p class="roboto-regular-14 black-1-text">Verification Code sent to your registered Mobile Phone Number or Email
        </p>
        <!-- <div class="input-group">
            <input>
        </div> -->
        <form [formGroup]="authVerifyForm" (ngSubmit)="pageVerifysub()">
            <div class="input-group input-group-lg pl-80 pr-80 mb-40">
                <input type="text" class="form-control input-group-otp" formControlName="firstDigit"
                    (keyup)="onKey('secondDigit')" autofocus
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    maxlength="1">
                <input type="text" class="form-control input-group-otp" #secondDigit formControlName="secondDigit"
                    (keyup)="onKey('thirdDigit')"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    maxlength="1">
                <input type="text" class="form-control input-group-otp" #thirdDigit formControlName="thirdDigit"
                    (keyup)="onKey('fourthDigit')"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="1">
                <input type="text" class="form-control input-group-otp" #fourthDigit formControlName="fourthDigit"
                    (keyup)="onKey('fifthDigit')"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="1">
                <input type="text" class="form-control input-group-otp" #fifthDigit formControlName="fifthDigit"
                    (keyup)="onKey('sixDigit')"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="1">
                <input type="text" class="form-control input-group-otp" #sixDigit formControlName="sixDigit"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="1">
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn roboto-regular-14 border-0 shadow-none py-0 blue-text" (click)=resend()
                    required><u>Resend Verification Code</u></button>
            </div>
            <div class="sign-in-btn-container mt-2">
                <button [disabled]="!authVerifyForm.valid" [class.verify-enable-btn]="this.authVerifyForm.valid"
                    [class.verify-disable-btn]="!this.authVerifyForm.valid"
                    class="verify-btn blue-bg white-text roboto-medium-18" type="submit">Verify</button>
            </div>

        </form>
        <!-- <button class="verify-btn blue-bg white-text roboto-medium-18" (click)=resend()>resend</button>  -->
        <!-- <button type="button" class="verify-btn blue-bg white-text roboto-medium-18"
        style="color: #0984E3;">resend</button> -->
    </div>
</div>