.date{
  background: #0984E3 0% 0% no-repeat padding-box;
  border: 1px solid #0984E3;
  border-radius: 4px;
  opacity: 1;
  width: 106px;
  height: 50px;
}

.time{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.6000000238418579px solid #2D2D41;
  border-radius: 4px;
  opacity: 1;
  width: 106px;
  height: 31px;
}

.multiseat {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
