<app-component-header></app-component-header>
<div class="auth-reset-password-header mb-5">
    <div class="container d-flex align-items-center">
        <h1 class="roboto-medium-40 text-light m-0">Reset Password</h1>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <p class="roboto-regular-20">Enter the User Id associated with your account and we will send instruction
            to reset password</p>
        <form class="justify-content-center mb-5" [formGroup]="forgotPasswordForm" (ngSubmit)="onUserIdSub()">
            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>User Id *</mat-label>
                <input type="text" matInput placeholder="User Id" formControlName="user" />
                <!-- (input)="checkForUserPrimaryTypeFun()" -->
                <mat-error *ngIf="!forgotPasswordForm.get('user').valid">User is required</mat-error>
            </mat-form-field>
            <div class="mb-20">
                <button type="submit" class="btn roboto-regular-16 white-text vms-btn-primary"
                    style="width: 327px; height: 52px; border-radius: 52px;">SEND
                    INSTRUCTIONS</button>
              
            </div>
        </form>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>