
<div [formGroup]="appform" autocomplete="off" #form>
    <div class="vms-sign-up">
        <div class="vaccinator-schedule-header mb-4">
            <div class="px-4 d-flex align-items-center">
                <h2 class="roboto-medium-20 text-light m-0">Book Appointments</h2>
            </div>

        </div>

        <div>
                <div style="text-align:center;color:darkblue">
                    Note : Select Material To Filter And Add Recipient
                </div>
            <div class="form-row-width container d-flex justify-content-between flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Select Allocation Type *</mat-label>
                    <mat-select matInpt formControlName="allocationType">
                        <mat-option value="Private" selected> Private </mat-option>
                        <mat-option value="Public"> Public </mat-option>
                        <mat-option value="All"> Private & Public </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="appform.get('allocationType').hasError('required') && appform.get('allocationType').touched">
                        Allocation type is required.
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Select Material *</mat-label>
                    <mat-select matInpt (selectionChange)="selectedVaccineHandler($event)" 
                    formControlName="materialId">
                        <mat-option *ngFor="let vaccine of materialList" [value]="vaccine.id">
                            {{ vaccine.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="appform.get('materialId').hasError('required') && appform.get('materialId').touched">Material is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-row-width container d-flex justify-content-between flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Date Of Appointment *</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker1" formControlName="startDateTime" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="appform.get('startDateTime').hasError('required') && appform.get('startDateTime').touched">Appointment date is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Time Of Appointment *</mat-label>
                    <input type="text" matInput [ngxTimepicker]="picker" formControlName="timeSelected">
                    <mat-error *ngIf="appform.get('timeSelected').hasError('required') &&  appform.get('timeSelected').touched">Appointment time is required.
                    </mat-error>
                </mat-form-field>

            </div>

            <ngx-material-timepicker #picker></ngx-material-timepicker>

        </div>
        <div *ngIf="isshowtable">
            <recipient-list-input #recipientList [onlyFirstAppointment]="true" [selectedVaccine]="selectedVaccine"
            (isFilterClick)="isFilterHandlerEvent($event)">
            </recipient-list-input>
        </div>

        <div class="d-flex justify-content-center proceed-div py-3">
            <button [disabled]=!isFilterClicked mat-button class="btn mr-3 roboto-medium-18" type="submit"
                (click)="submitData()">
                Submit
            </button>
            &nbsp;
            <button type="button" mat-button (click)="dialogRef.close()"
                class="btn preview-btn roboto-medium-16">Close</button>
        </div>

    </div>
</div>