<app-component-dynamic-heading [heading]="'Site'"></app-component-dynamic-heading>
<div class="container">
    <div class="search-bar mb-4">

       
        <app-search-box (searchEvent)="searchSites($event)"></app-search-box>

        <div class="ml-auto">
            <button class="btn add-site roboto-medium-16 white-text blue-2-bg" type="button" [routerLink]="['../create']">
                Add Site
            </button>
        </div>
    </div>
    <table class="table table-striped mb-3">
        <tbody>
            <tr class="blue-2-bg white-text">
                <th class="roboto-medium-18 text-left">Site</th>
                <th class="roboto-medium-18 text-left">Site Admin</th>
                <!-- <th class="roboto-medium-18 text-left">Vaccine</th> -->
                <th class="roboto-medium-18 text-left">Seats</th>
                <th class="roboto-medium-18 text-left">Vaccinator</th>
                <th class="roboto-medium-18 text-center">Action</th>
            </tr>
            <tr *ngFor="let site of sitelists">
                <td class="roboto-regular-16 blue-text text-left">{{site.site_name}}</td>
                <td class="roboto-regular-16 blue-text text-left">
                    {{site.$expanded.site_admins[0]?.site_admin_name}}
                    <ng-container *ngIf="site.$expanded.site_admins?.length > 1">
                        +{{site.$expanded.site_admins.length - 1}}
                    </ng-container>
                </td>
                <!-- <td class="roboto-regular-16 blue-text text-left">
                    {{site.$expanded.material[0]?.material_name}}
                    <ng-container *ngIf="site.$expanded.material?.length > 1">
                        +{{site.$expanded.material.length - 1}}
                    </ng-container>
                </td> -->
                <td class="roboto-regular-16 blue-text text-left">{{site.total_no_of_seats}}</td>
                <td class="roboto-regular-16 blue-text text-left">
                    {{site.$expanded.vaccinators[0]?.vaccinator_name}}
                    <ng-container *ngIf="site.$expanded.vaccinators?.length > 1">
                        +{{site.$expanded.vaccinators.length - 1}}
                    </ng-container>
                </td>

                <td class="roboto-regular-16 blue-text">
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-outline-primary roboto-regular-12 mr-2"
                            [routerLink]="['../edit',site.id]">
                            Edit <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary roboto-regular-12 mr-2"
                            (click)="onDelete(confirmDialog, site)">
                            Delete <i class="fa fa-trash-o blue-text"></i>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <small class="text-muted roboto-regular-12">
            Showing {{(pageIndex -1) * pageLength + 1}} to {{totalCount > (pageLength * pageIndex) ?(pageLength *
            pageIndex)
            : totalCount }} of {{totalCount}}
            entries</small>
        <ngb-pagination class="ml-auto" (pageChange)="onPageChange($event)" [maxSize]="5" [page]="pageIndex"
            [pageSize]="pageLength" [collectionSize]="totalCount"></ngb-pagination>
    </div>
</div>

<ng-template #confirmDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Please confirm</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete this site?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Ok click')">Ok</button>
    </div>
</ng-template>
<!-- <app-component-footer-copyright-strip></app-component-footer-copyright-strip> -->