<div class="d-flex align-items-center my-5">
    <p class="roboto-bold-20 m-0">List :</p>
    <p class="m-0 roboto-regular-20" style="color: #9F9F9F;">New York Presbyterian Hospital</p>
</div>
<div style="width: 1084px; height: 37px; background: #EDEDED 0% 0% no-repeat padding-box;" class="p-2">
    <p class="roboto-bold-14 m-0">Same schedule for all seats : Yes</p>
</div>
<div class="d-flex align-items-center my-3">
    <p class="roboto-medium-16" style="color:#AFAFAF">Seat:&nbsp;</p>
    <p class="roboto-medium-16">All Seat</p>
</div>

<table class="table table-striped mb-3">
    <tbody>
        <tr class="blue-1-bg white-text">
            <th class="txt roboto-regular-18">Days of operation</th>
            <th class="txt roboto-regular-18">Exclude Holiday's</th>
            <th class="txt roboto-regular-18">24 Hours <br />Operation</th>
            <th class="txt roboto-regular-18">Start Time</th>
            <th class="txt roboto-regular-18">End Time</th>
            <th class="txt roboto-regular-18">Slot Time</th>
            <th class="txt roboto-regular-18"></th>
        </tr>
        <tr>
            <td class="txt blue-text roboto-medium-16"></td>
            <td class="txt blue-text roboto-medium-16"></td>
            <td class="txt blue-text roboto-medium-16"></td>
            <td class="txt blue-text roboto-regular-16"></td>
            <td class="txt blue-text roboto-regular-16"></td>
            <td class="txt blue-text roboto-regular-16"></td>
            <td class="txt blue-text"><a  ><i class="fa fa-pencil-square-o border p-1 mr-1"></i></a>
                <a ><i class="fa fa-trash-o border p-1 ml-1"></i></a>
            </td>
        </tr>
      
    </tbody>
</table>