<div class="d-flex my-0 py-0 justify-content-center">
    <ul class="nav my-0 nav-pills d-flex w-100" id="myTab" role="tablist" #areaSelected>
        <li class="nav-item m-0 h-100 w-25" >
            <a class="nav-link roboto-medium-18"
                [ngClass]="{'active': selectedTab=='appointments'}"
                data-toggle="tab"
                [routerLink]="['/site-admin/dashboard/appointments']" role="tab" aria-controls="appointments"
                [attr.aria-selected]="selectedTab=='appointments'">
                Appointments
                <!-- ({{ appointmentsList.length }}) -->
            </a>
        </li>
        <!-- [routerLink]="['/site-admin/dashboard/vaccinators']" data-toggle="tab"-->
        <li class="nav-item m-0 h-100 w-25">
            <a  class="nav-link roboto-medium-18"
                [ngClass]="{'active': selectedTab=='vaccinators'}"
                [routerLink]="['/site-admin/dashboard/vaccinators']" data-toggle="tab"
                 role="tab" aria-controls="vaccinators"
                [attr.aria-selected]="selectedTab=='vaccinators'">
                Vaccinators

            </a>
        </li>
        <li class="nav-item m-0 h-100 w-25">
            <a  class="nav-link roboto-medium-18"
                [ngClass]="{'active': selectedTab=='schedule'}"
                [routerLink]="['/site-admin/dashboard/schedule']" data-toggle="tab"
                 role="tab" aria-controls="schedule"
                [attr.aria-selected]="selectedTab=='schedule'">
                Schedule
            </a>
        </li>
    </ul>
</div>
