<!-- footer here -->
<footer>
    <div class="followUs">
        <div class="container">
            <div class="row">
                <div class="col-md-8 line-x">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <h4 class="roboto-bold-24 blue-text">Get vaccinated</h4>
                            <p title="Get vaccinated roboto-regular-16">Getting vaccinated is easy. Vaccines are
                                available at the
                                doctor’s office and many
                                pharmacies — and most are covered by insurance.</p>
                        </div>
                        <!-- soical media menu -->
                        <!-- <div class="col-md-6 mb-3">
                            <h4 class="roboto-bold-24" style="padding-left: 40px;">Follow us</h4>
                            <ul class="m-0 p-0">
                                <li><a href="#" title="google plus" class="gp"><i class="fa fa-google-plus"></i></a>
                                <li><a href="#" title="instagram" class="inst"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-md-4 text-center">
                    <a href="https://ucnj.org/" target="_blank"><img
                            src="../../../../assets/images/county-seal-logo.png" alt="county seal image"
                            class="seal-logo" /></a>
                    <div>
                        <p class="m-0">An official website of the County of Union, New Jersey</p>
                        <p>powered by <a><b class="blue-text">2120check.com</b></a></p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="bluePatch">
        <div class="messageBtn">
            <a href="#"><i><img src="../../../../assets/images/speech.svg" alt="login info logo" /></i></a>
        </div>
        <div class="container">
            <ul>
                <li>
                    <i><img src="../../../../assets/images/sm1.svg" alt="vaccine recipient logo" /></i>
                    <span><a href="javascript:void(0);" [routerLink]="'/auth/sign-in'">Login For<br>
                            Vaccine Recipient</a></span>
                </li>
                <li>
                    <i><img src="../../../../assets/images/sm2.svg" alt="vaccine provider logo" /></i>
                    <span><a href="javascript:void(0);" [routerLink]="'/auth/vaccinator-sign-in'">Login For<br>
                            Vaccine Provider</a></span>
                </li>
            </ul>
        </div>
    </div>
</footer>