<div class="container-fluid HomeAbout">
    <div class="container align-items-center">
        <div class="row w-100 pt-3 justify-content-center">
            <!-- Vaccine recipient detail here -->
            <div class="col-md-6 p-3">
                <div class="border h-100 px-5 py-4 d-flex flex-column justify-content-between">
                    <div>
                        <h1 class="roboto-bold-40 green-text">Vaccine Recipient</h1>
                        <p class="text mb-4 roboto-regular-16 dim-black-text">Quickly create an account for all
                            Covid-19
                            vaccine related <br />information, check vaccine availability and eligibility, as
                            <br />well
                            as receive communications from 21-20 <img src="..
                                    /../../../assets/images/global_logo.png" alt=""
                                style="width: 20px; padding-bottom: 5px;"> .
                        </p>
                    </div>
                    <div class="btnSmall">
                        <button class="vms-btn green-bg roboto-medium-18 mb-4 px-4" [routerLink]="'/auth'"><a
                                class="white-textcls">Register</a></button>
                        <p>Already registered? <a [routerLink]="'/auth/sign-in'" class="vacc-recp-log-btn">
                                <b>Login</b></a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Vaccine provider detail here -->
            <div class="col-md-6 p-3">
                <div class="border h-100 px-5 py-4 d-flex flex-column justify-content-between">
                    <div>
                        <h1 class="roboto-bold-40 blue-text">Vaccine Provider</h1>
                        <p class="text mb-4 roboto-regular-16 dim-black-text">Like to list a pharmacy, clinic, health
                            department or other vaccine provider? You will first need to register for an account. After
                            your account is approved, you can submit information about your vaccination services.</p>
                    </div>
                    <div class="btnSmall pb-2">
                        <button class="vms-btn blue-bg roboto-medium-18 mb-5 px-4"
                            [routerLink]="'/auth/vaccinator-sign-in'"><a class="white-textcls"><b>Login</b></a></button>
                    </div>
                </div>
            </div>
            <!-- Seal-logo -->
            <!-- <div class="col-md-6 p-3 text-center">
                <div class="border h-100 px-5 py-4 d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-center">
                        <a href="https: //ucnj.org/" target="_blank"><img
                                src="../../../../assets/images/county-brand-logo.png" alt="county seal image"
                                class="seal-logo" /></a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row p-0 justify-content-end">
            <div class="col-md-3 mr-4">
                <a href="https://apps.apple.com/us/app/2120check-com/id1559172195"
                    target="_blank">
                    <img src=".. /../../../assets/images/app-download-logo.png" alt="" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</div>