.help-header {
    background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2.2rem 0;
    .vcn-sch-text {
        text-align: left;
        font: normal normal medium 30px/39px Roboto !important;
        letter-spacing: 0px;
        color: #FFFFFF;
        font-weight: 600;
    }
    i {
        color: #FFFFFF;
        font-size: 40px;
    }
}

.nav-link-box {
    border-left: 9px solid #0099CF;
    height: 98px;
}

.light-grey-bg {
    background-color: #f9f9f9 !important;
}