<app-component-recipient-header></app-component-recipient-header>
<app-component-dynamic-heading [heading]="'Notification'"></app-component-dynamic-heading>
<div class="container py-3">
    <!-- <p class="roboto-medium-20">Hi John Doe!</p> -->
    <div class="row py-5">
        <div class="col-lg-6">
            <div class="mb-3  p-1 px-2 nav-link-box d-flex justify-content-between align-items-center shadow">
                <div class="px-3 text-center">
                    <p class="m-0 roboto-medium-25 pb-1">12&nbsp;Feb</p>
                    <hr class="m-0" />
                    <p class="m-0 roboto-regular-18">12:00&nbsp;AM</p>
                </div>
                <p class="roboto-light-18 m-0">Your 1st Dose of Vaccination is Scheduled please carry valid ID Proof & reach facility 15 min before
                </p>
            </div>
            <div class="mb-3  p-1 px-2 nav-link-box d-flex justify-content-between align-items-center shadow">
                <div class="px-3 text-center">
                    <p class="m-0 roboto-medium-25 pb-1">08&nbsp;Feb</p>
                    <hr class="m-0" />
                    <p class="m-0 roboto-regular-18">12:00&nbsp;AM</p>
                </div>
                <p class="roboto-light-18 m-0">Vaccination programe started please book an appointment to get vaccinated
                </p>
            </div>
            <div class="mb-3  p-1 px-2 nav-link-box d-flex justify-content-between align-items-center shadow">
                <div class="px-3 text-center">
                    <p class="m-0 roboto-medium-25 pb-1">06&nbsp;Feb</p>
                    <hr class="m-0" />
                    <p class="m-0 roboto-regular-18">12:00&nbsp;AM</p>
                </div>
                <p class="roboto-light-18 m-0">Thanks for registering for Vaccination program find nearest provider</p>
            </div>
        </div>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>