<app-component-facility-admin-header></app-component-facility-admin-header>
<div class="d-flex justify-content-between backgd text-light mb-5" style="height: 139px;">
    <div class="container">
        <div class="p-4 w-50">
            <h1 class="m-0 roboto-medium-26">Hello Chandler</h1>
            <hr class="bg-light" />
            <p class="m-0 roboto-light-20"> New York Presbyterian Hospital </p>
        </div>
    </div>
</div>
<div class="py-5 my-5">

</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>