<app-component-dynamic-heading [heading]="'MANAGE VACCINATOR'" [refererClick]="true"></app-component-dynamic-heading>

<div class="container" id="site-recp-list">
  <div class="d-flex align-items-center justify-content-between pt-3 table-action-strip">
    <div class="d-flex align-items-center">
      <mat-form-field class="search-form-field" appearance="outline">
        <mat-label>Search by name / email</mat-label>
        <input matInput (keyup)="checkIFBlankLoadData(searchInput)"  #searchInput
        (keyup.enter)="applyFilter(searchInput)" />
        <button mat-button *ngIf="searchInput.value.trim() !=''"  matSuffix mat-icon-button aria-label="Clear" (click)="(searchInput.value='');applyFilter(searchInput)">
          <mat-icon>close</mat-icon>
      </button>
      </mat-form-field>
      <button type="button" class="btn roboto-medium-16 white-text blue-2-bg py-1 ml-3"
        (click)="applyFilter(searchInput)">Filter</button>
    </div>
    <div class="d-flex align-items-center">
      <!-- <button type="button" class="btn roboto-medium-16 white-text blue-2-bg py-1 ml-3" (click)="downloadFile()">
        <i class="fa fa-download" aria-hidden="true"></i> Download
      </button> -->
      <button type="button" class="btn roboto-medium-16 white-text blue-2-bg py-1 ml-3"
        routerLink="/site-admin/add-vaccinator">+ Add Vaccinator</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col w-100">
      <table mat-table MatSort [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="roboto-regular-18"> User Name
          </th>
          <td mat-cell *matCellDef="let element" class="roboto-medium-16 blue-text"> {{element.user_name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="roboto-regular-18"> Name
          </th>
          <td mat-cell *matCellDef="let element" class="roboto-medium-16 blue-text"> {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="roboto-regular-18" style="width: 25% !important;"> Email </th>
          <td mat-cell *matCellDef="let element" class="roboto-medium-16 blue-text"> {{element.email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="mobile_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="roboto-regular-18"> Mobile </th>
          <td mat-cell *matCellDef="let element" class="roboto-medium-16 blue-text"> {{element.mobile_number}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  class="roboto-regular-18"> Action </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center justify-content-center">
              <button type="button" (click)="navToEditVaccinatorPage(element)"
                class="btn edit roboto-regular-11 blue-text mr-2">
                Edit <i class="fa fa-pencil-square-o"></i>
              </button>
              <!-- <button type="button" class="btn delete roboto-regular-11 ml-2" (click)="vaccinatorInfo = element"
                data-toggle="modal" data-target="#exampleModal2">Delete <i class="fa fa-trash-o blue-text"></i></button> -->
                <button type="button"  (click)="OnStatus(element)"
                class="btn delete roboto-regular-11 ml-3" style="width: 75px;">
                {{element.is_disabled ? 'Enable' : 'Disable'}} 
                 <i *ngIf="!element.is_disabled" class="fa fa-eye-slash"></i>
                 <i *ngIf="element.is_disabled" class="fa fa-eye"></i>
              </button> 
              </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator class="w-100" [length]="totalCount" [pageIndex]="pageIndex" (page)="getPageVaccinator($event)"
      [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="[10,25,50,100]"></mat-paginator>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2"
    aria-hidden="true">
    <div class="modal-dialog border-0 h-auto delete-popup" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title m-0 text-center roboto-regular-16" id="exampleModalLabe2">
            Delete Vaccinator
          </h3>
        </div>
        <div class="modal-body">
          <p class="roboto-regular-14 text-center m-0">Are you sure you want to delete vaccinator from the list</p>
        </div>
        <div class="modal-footer p-0 d-flex justify-content-around align-items-center">
          <button data-dismiss="modal" aria-label="Close" type="button"
            class="btn w-50 px-0 rounded-0 shadow-none m-0 border blue-text">
            No
          </button>
          <button data-dismiss="modal" aria-label="Close" type="button"
            class="btn w-50 px-0 rounded-0 shadow-none m-0 border blue-text"
            (click)="onDeleteVaccinator(vaccinatorInfo)">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>