.facility-admin-manage-site-admin-header {
    background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
    padding: 2.2rem 0;
    i {
        font-size: 22px;
        font-weight: lighter;
    }
}

input {
    border: 0;
    width: 342px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #78787859;
}

:host ::ng-deep tr:nth-child(even) {
    height: 60px;
}

.nav-link {
    width: 171px;
    height: 31px;
}

.vaccinator-tab-box {
    background: #C4BDBD60 0% 0% no-repeat padding-box;
}
