<app-component-facility-admin-header></app-component-facility-admin-header>
<div class="facility-admin-manage-site-admin-header mb-5">
    <div class="container d-flex align-items-center">
        <i class="fa fa-arrow-left white-text"></i>
        <h1 class="roboto-medium-40 white-text m-0 px-2">SITE ADMIN</h1>
    </div>
</div>
<div class="container">
    <div class="mb-5">
        <p class="roboto-medium-20">Add user using below tabs</p>
        <ul class="nav nav-pills text-center">
            <li class="nav-item">
                <a class="nav-link rounded-0 active" aria-current="page">Site Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vaccinator-tab-box rounded-0">Vaccinator</a>
            </li>
        </ul>
    </div>
    <div class="container my-5 pb-5">
        <div class="text-center">
            <p class="roboto-regular-20">You have not added Site Admin please add Site Admin below</p>
            <button class="btn poppins-regular-16 blue-2-bg white-text py-1 px-3 mt-3">+ Add Site Admin</button>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-5 mb-3">
        <p class="roboto-bold-20 m-0">List of Site Admin</p>
        <button class="btn roboto-medium-16 blue-2-bg white-text py-1">+ Add Site Admin</button>
    </div>
    <input type="text" class="form p-3 mb-4" placeholder="Search" width="342px">
    <table class="table table-striped mb-3">
        <tbody>
            <tr class="blue-1-bg white-text">
                <th class="txt roboto-regular-18">Site Admin</th>
                <th class="txt roboto-regular-18">Phone</th>
                <th class="txt roboto-regular-18">Email</th>
                <th class="txt roboto-regular-18">Site Name</th>
                <th class="txt roboto-regular-18">Address</th>
                <th class="txt roboto-regular-18">Gender</th>
                <th class="txt roboto-regular-18"></th>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">John Doe</td>
                <td class="txt blue-text roboto-medium-16">+1 123456789</td>
                <td class="txt blue-text roboto-medium-16">Johndoe@gmail.com</td>
                <td class="txt blue-text roboto-medium-16">Hospital 1</td>
                <td class="txt blue-text roboto-regular-16">450 1st Avenue</td>
                <td class="txt blue-text roboto-regular-16">Male</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>