:host ::ng-deep .mat-horizontal-stepper-header-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background: transparent linear-gradient(270deg, #74b9ff 0%, #0984e3 100%) 0% 0% no-repeat padding-box;

  @media (min-width: 576px) {
    padding: 0 32px;
  }

  @media (min-width: 768px) {
    padding: 0 39px;
  }

  @media (min-width: 992px) {
    padding: 0 31px;
  }

  @media (min-width: 1200px) {
    padding: 0 45px;
  }
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

// :host ::ng-deep .mat-step-label .mat-step-text-label {
//   text-align: left !important;
//   font: normal normal normal 14px/18px Roboto !important;
//   letter-spacing: 0px !important;
//   color: #ffffff !important;
//   opacity: 0.3 !important;
// }
:host ::ng-deep .mat-step-label.mat-step-label-active .mat-step-text-label {
  text-align: left !important;
  font: normal normal bold 14px/18px Roboto !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
}
.manage-opacity-1-0 {
  opacity: 1 !important;
}

.manage-opacity-0-5 {
  opacity: 0.5 !important;
}

.dose-complete {
  background-color: #099b4e !important;
  color: #fff !important;
}
.dose-pre-complete {
  background-color: #fff !important;
  color: #0984e3 !important;
}
.dose-prending {
  background-color: #0984e3 !important;
  color: #fff !important;
  border: 1px solid #fff;
}
.disable-badge {
  opacity: 0.5;
}

:host ::ng-deep .mat-step-text-label {
  margin: 0;
}

:host ::ng-deep .mat-horizontal-stepper-header[ng-reflect-index="0"] {
  pointer-events: none !important;
}

:host ::ng-deep .mat-horizontal-stepper-header[ng-reflect-index="1"] {
  pointer-events: none !important;
}
