<app-component-recipient-header></app-component-recipient-header>
<!-- <div class="page-header mb-4">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="vcn-sch-text m-0">Registraion Form</h1>
        <p class="m-0 roboto-regular-14">SKIP</p>
    </div>
</div> -->
<app-component-dynamic-heading [heading]="'Registraion Form'"></app-component-dynamic-heading>
<div class="container">
    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">1. Which of the following best describes your ethnic group?</p>
        <ul>
            <li>
                <input type="radio">&nbsp;&nbsp;<span class="roboto-regular-14">Hispanic or Latino</span>
            </li>
            <li>
                <input type="radio">&nbsp;&nbsp;<span class="roboto-regular-14">Not Hispanic or Latino</span>
            </li>
            <li>
                <input type="radio">&nbsp;&nbsp;<span class="roboto-regular-14">Prefer not to answer</span>
            </li>
        </ul>
    </div>
    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">2. Which of the following best describes your race? Please select
            all that apply?</p>
        <ul>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">American Indian</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Alaska Native</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Asian</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Black or African American</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Native Hawaiian</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Other Pacific Islander</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">White</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">Prefer not to answer</span>
            </li>
        </ul>
    </div>
    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">3. Select all that apply</p>
        <ul>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I work in a patient-facing healthcare
                    setting or a congregate living setting.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am a First Responder or Support
                    Staff for First Responder Agency.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am employed by a Corrections
                    Agency.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am employed in a P-12 school or
                    school district.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am an employee or support staff in
                    a licensed or registered childcare setting.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am a licensed or registered
                    childcare provider.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I work in a public-facing grocery
                    store.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am an in-person college faculty or
                    instructor.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am a Public Transit
                    employee.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am currently living in a congregate
                    setting.</span>
            </li>
            <li>
                <input type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14">I am a State Employee, Local
                    government employee, or Employee of a Public Authority</span>
            </li>
        </ul>
    </div>
    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">4. Date of first COVID-19 Vaccination Dose</p>
        <ul>
            <li>
                <input type="text" style="width:300px;" class="form-control" placeholder="Enter text here">
            </li>
        </ul>
    </div>
    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">5. Would you like a confirmation via email?</p>
        <ul cl>
            <li>
                <input type="radio">&nbsp;&nbsp;<span class="roboto-regular-14">Yes</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <input type="radio">&nbsp;&nbsp;<span class="roboto-regular-14">No</span>
            </li>
        </ul>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>