<app-component-header></app-component-header>

<div class="site-admin-add-site-header mb-4">
  <div class="container d-flex align-items-center">
    <h1 class="roboto-medium-30 white-text m-0 px-2">Privacy Policy</h1>
  </div>
</div>

<ul>
  <li class="roboto-regular-16">If you live in the European Region, 21-20 Limited provides 21-20 to you under this
    Privacy Policy.</li>

  <br>

  <li class="roboto-regular-16">Respect for your privacy is coded into our DNA. Since we started 21-20, we’ve aspired to
    build our Services with a set of strong privacy principles in mind.</li>

  <br>

  <li class="roboto-regular-16">21-20 provides messaging, Internet calling, and other services to users around the
    world. Our Privacy Policy helps explain our information (including message) practices.
    For example, we talk about what information we collect and how this affects you. We also explain the steps we take
    to protect your privacy – like building 21-20 so delivered messages aren’t stored and giving you control over who
    you communicate with on our Services.</li>

  <br>

  <li class="roboto-regular-16">  When we say “21-20”, “our”, “we” or “us”, we’re talking about WhatsApp LLC.  This
    Privacy Policy (“Privacy Policy”) applies to all of our apps, services, features, software, and website (together,
    “Services”) unless specified otherwise.</li>
</ul>
<div class="py-5"> </div>
<div class="d-flex justify-content-start pb-3 pl-4">
  <button class="btn bg-blue px-5 white-text" (click)="backClicked()">Back</button>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>
