<app-component-dynamic-heading [heading]="vaccineUserSave ? 'Vaccine - Add New Vaccine': 'Vaccine - Edit Vaccine'"></app-component-dynamic-heading>
<div class="container">
    <div></div>
    <h2 style="margin-left: 40px">
        {{ vaccineUserSave ? "New Vaccine" : "Update Vaccine" }}
    </h2>
    <div>
        <form class="container d-flex flex-column align-items-center" [formGroup]="vaccineSignUpForm"
            (ngSubmit)="vaccineSave()">
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>vaccine name</mat-label>
                    <input matInput placeholder="Enter vaccine name" [readonly]="dataeditName" formControlName="name" />
                    <mat-error *ngIf="!vaccineSignUpForm.get('name').valid">Vaccine Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Vaccine manufacturer</mat-label>
                    <input matInput placeholder="Enter vaccine manufacturer"  [readonly]="dataeditdecs" formControlName="vaccineManufacturer" />
                    <mat-error *ngIf="
                            !vaccineSignUpForm.get('vaccineManufacturer').valid
                        ">Vaccine manufacturer is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-right flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4">
                    <mat-label>No of Doses in series </mat-label>
                    <input matInput type="text" formControlName="no_of_doses_in_series" />
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('no_of_doses_in_series')
                                .hasError('pattern')
                        ">
                        This Field is required
                    </mat-error>
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('no_of_doses_in_series')
                                .hasError('required')
                        ">
                        Enter No of Dosage number.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4">
                    <mat-label>Gaps in days between doses </mat-label>
                    <input matInput type="text" formControlName="gaps_in_days_between_doses" />
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('gaps_in_days_between_doses')
                                .hasError('pattern')
                        ">This Filed is required
                    </mat-error>
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('gaps_in_days_between_doses')
                                .hasError('required')
                        ">
                        Enter number.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-right flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4">
                    <mat-label>Min. dosage per vial </mat-label>
                    <input matInput type="text" formControlName="minDosage" />
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('minDosage')
                                .hasError('pattern')
                        ">
                        Min Dosage is required
                    </mat-error>
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('minDosage')
                                .hasError('required')
                        ">
                        Enter Dosage number.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4">
                    <mat-label>Max. dosage per vial </mat-label>
                    <input matInput type="text" formControlName="maxDosage" />
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('maxDosage')
                                .hasError('pattern')
                        ">Max Dosage is required
                    </mat-error>
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('maxDosage')
                                .hasError('required')
                        ">
                        Enter Dosage number.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-right">
                <mat-form-field appearance="outline" class="mx-md-4" style="width: 85px">
                    <mat-label>Wait Time </mat-label>
                    <input matInput type="text" formControlName="WaitTime" />
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('WaitTime')
                                .hasError('pattern')
                        ">Enter Time number.
                    </mat-error>
                    <mat-error *ngIf="
                            vaccineSignUpForm
                                .get('WaitTime')
                                .hasError('required')
                        ">
                        Time is required
                    </mat-error>
                </mat-form-field>
                <mat-hint>
                    Time in minutes for which recipient needs <br />
                    to be monitored after vaccination
                </mat-hint>
            </div>
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <div class="d-flex center py-3 mr-3">
                    <button mat-button class="btn save-btn" type="submit">
                        {{ vaccineUserSave ? "Save" : "Update" }}
                    </button>
                </div>
                <div class="d-flex center py-3 ml-3">
                    <button mat-button class="btn cancel-btn" type="button" [routerLink]="'/super-admin/vaccine-list'">
                        Cancel
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>