<app-component-dynamic-heading [heading]="'Edit Scan QR Code Details'"></app-component-dynamic-heading>
<div class="container">
    <div class="mb-4">
        <p class="mb-4 roboto-medium-20">Select the items to display when your QR Code is Viewed</p>
        <ul class="d-flex">
            <div class="mr-5">
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">First
                        Name</span><span class="roboto-regular-14">John</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Date of
                        birth</span><span class="roboto-regular-14">01/01/1988</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Email</span><span
                        class="roboto-regular-14">john.doe@gmail.com</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Apartment, Suite,
                        Unit Number</span><span class="roboto-regular-14">No 123</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">City</span><span
                        class="roboto-regular-14">Newyork</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Zip</span><span
                        class="roboto-regular-14">11016</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Country</span>
                    <span class="roboto-regular-14">United States</span>
                </li>

            </div>
            <div class="ml-5">
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Last Name</span>
                    <span class="roboto-regular-14">Doe</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Phone
                        number</span>
                    <span class="roboto-regular-14">+1 123456789</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Address Line
                        1</span>
                    <span class="roboto-regular-14">Address line 1</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">Address Line
                        2</span>
                    <span class="roboto-regular-14">Address line 2</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">State</span>
                    <span class="roboto-regular-14">Georgia</span>
                </li>
                <li>
                    <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text pr-2">County</span>
                    <span class="roboto-regular-14">Georgia</span>
                </li>
            </div>
        </ul>
    </div>
    <div class="mb-5">
        <p class="roboto-regular-18" style="color: #707070;">What Certificate you want to show</p>
        <ul>
            <li class="pb-3">
                <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text">Electronic
                    Certificate</span>
            </li>
            <li>
                <input disabled readonly type="checkbox">&nbsp;&nbsp;<span class="roboto-regular-14 grey-text">Images of
                    Certificate</span>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn save-btn mr-3">Save</button>
        <button type="submit" class="btn edit-btn mx-3">Edit</button>
        <button type="submit" class="btn cancel-btn ml-3">Cancel</button>
    </div>
</div>