<div class="container">
    <div>
        <mat-form-field class="ml-1" appearance="outline" style="width: 300px;">
            <mat-label><b>Choose Date</b></mat-label>
            <input [(ngModel)]="date" (dateChange)="dateChange('', '', $event)" matInput [matDatepicker]="dp3"
                   [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <site-admin-page-dashboard-tab></site-admin-page-dashboard-tab>

    <div class="tab-content my-0 py-2" id="myTabContent">
        <div class="d-flex justify-content-end align-items-center pb-3">
            <div class="d-flex align-items-center">
                <div class="search-form-field">
                    <mat-form-field appearance="outline" class="ml-1" style="width: 220px">
                        <mat-label>Search By Recipient/Survey Id</mat-label>
                        <input matInput [(ngModel)]="searchInput" name="filter"
                               (keyup.enter)="filterList(searchInput,false);"
                               (keyup)="checkIFBlankLoadData(searchInput,true)" />
                        <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear"
                                (click)="(searchInput='');filterList(searchInput,false);">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="pb-3">
                    <button class="btn roboto-medium-16 white-text blue-2-bg py-1 ml-3 filter-btn"
                            (click)="filterList(searchInput,false)">Filter</button>
                </div>
            </div>
        </div>

        <div class="tab-navigation">
            <ul class="nav my-0 nav-pills nav-fill d-flex w-100" id="myTab" role="tablist">
                <li *ngFor="let tab of tabs" class="nav-item">
                    <a [ngClass]="{'active': tab.status=='active'}" class="nav-link" (click)="tabActive(tab)"
                       data-toggle="tab" href="#{{tab.href}}" role="tab" [attr.aria-controls]="tab.href"
                       aria-selected="false">
                        {{tab.name}} ({{ tab.total }})
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content my-0" id="myTabContent">

            <div *ngIf="currentTab && currentTab.href=='upcoming'"
                 [ngStyle]="{'display':currentTab.href=='upcoming' ? 'block': 'none'}" data-toggle="modal"
                class="tab-pane" id="upcoming" role="tabpane2" aria-labelledby="upcoming">
                <table class="table table-striped  text-center" *ngIf="upcomingList.length>0">
                    <thead>
                        <tr>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Time</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Recipient</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">DOB</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Dose</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Seat</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Survey&nbsp;Id</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Vaccine</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text text-left">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (click)="setVisitRowToLocalStorage(upcomingListItem,upcomingListItem.id,'start')" -->
                        <tr *ngFor="let upcomingListItem of upcomingList;"
                        (click)="!dontMoveIfHistory && setVisitRowToLocalStorage(upcomingListItem,upcomingListItem.id,'')"
                        [attr.data-toggle]="!dontMoveIfHistory ? 'modal' : ''" [attr.data-target]="!dontMoveIfHistory ? '#exampleModal1' : ''"
                        >
                            <td class="txt text-left" style="width: 15%;">
                                <span class="roboto-medium-16">{{ upcomingListItem.start_time |
                                    date:'hh:mm a'}}</span>
                            </td>
                            <td class="text-left" width="25%">
                                <div class="d-flex align-items-center">
                                    <!-- <img src="../../../../assets/images/vaccinator/Image 5.png"> -->
                                    <p class="txt roboto-medium-16 m-0 ml-1">{{
                                        upcomingListItem.$expanded.recipient_fname+"&nbsp;"+upcomingListItem.$expanded.recipient_lname
                                        }}
                                    </p>
                                </div>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                <span *ngIf="upcomingListItem.$expanded.recipient_dob != '1900-01-01'">
                                    {{ upcomingListItem.$expanded.recipient_dob|formatDate }}
                                </span>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ upcomingListItem.dose_in_series }}
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ upcomingListItem.$expanded.seat_name }}
                            </td>

                            <td class="roboto-regular-16 text-left txt">
                                {{ upcomingListItem.ticket_number }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ upcomingListItem.$expanded.vaccine }}
                            </td>
                            <!-- <td class="txt d-flex justify-content-start text-left">
                                <div class="roboto-regular-14 cursor-pointer"
                                     [routerLink]="['/site-admin/edit-recepient',upcomingListItem.recipient_id]">
                                    <i class="fa fa-eye"></i>&nbsp;View
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <ngb-pagination *ngIf="currentTab && currentTab.total" class="ml-auto"
                                    (pageChange)="onPageChange($event)" [page]="pageIndex" [pageSize]="pageLength"
                                    [collectionSize]="currentTab.total"></ngb-pagination>
                </div>
            </div>

            <div *ngIf="currentTab && currentTab.href=='checkedin'"
                 [ngStyle]="{'display':currentTab.href=='checkedin' ? 'block': 'none'}" class="tab-pane active"
                 id="checkedin" role="tabpane2" aria-labelledby="checkedin">

                <table class="table table-stripped  text-center" *ngIf="checkedInList.length>0">
                    <thead>
                        <tr>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Time</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Recipient</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">DOB</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Dose</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Seat</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Survey&nbsp;Id</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Vaccine</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text text-left">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (click)="setVisitRowToLocalStorage(checkedInItem,checkedInItem.id,'start',checkedInItem?.id_validation)" -->
                        <tr *ngFor="let checkedInItem of checkedInList;">
                            <td class="txt text-left" style="width: 15%;">
                                <span class="roboto-medium-16">{{ checkedInItem.start_time |
                                    date:'hh:mm a'}}</span>
                            </td>
                            <td class="text-left" width="25%">
                                <div class="d-flex align-items-center">
                                    <!-- <img src="../../../../assets/images/vaccinator/Image 5.png"> -->
                                    <p class="txt roboto-medium-16 m-0 ml-1">{{
                                        checkedInItem.$expanded.recipient_fname+"&nbsp;"+checkedInItem.$expanded.recipient_lname
                                        }}
                                    </p>
                                </div>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                <span *ngIf="checkedInItem.$expanded.recipient_dob != '1900-01-01'">
                                    {{ checkedInItem.$expanded.recipient_dob|formatDate }}
                                </span>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ checkedInItem.dose_in_series }}
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ checkedInItem.$expanded.seat_name }}
                            </td>


                            <td class="roboto-regular-16 text-left txt">
                                {{ checkedInItem.ticket_number }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ checkedInItem.$expanded.vaccine }}
                            </td>
                            <!-- <td class="txt d-flex justify-content-start text-left">
                                <div class="roboto-regular-14 cursor-pointer ml-2"
                                    [routerLink]="['/site-admin/edit-recepient',checkedInItem.recipient_id]">
                                    <i class="fa fa-eye"></i>&nbsp;View
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <ngb-pagination *ngIf="currentTab && currentTab.total" class="ml-auto"
                                    (pageChange)="onPageChange($event)" [page]="pageIndex" [pageSize]="pageLength"
                                    [collectionSize]="currentTab.total"></ngb-pagination>
                </div>
            </div>

            <div *ngIf="currentTab && currentTab.href=='observation'"
                 [ngStyle]="{'display':currentTab.href=='observation' ? 'block': 'none'}" class="tab-pane"
                 id="observation" role="tabpane3" aria-labelledby="observation">
                <table class="table table-stripped" *ngIf="observationList.length>0">
                    <thead>
                        <tr>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Time</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Recipient</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">DOB</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Dose</th>
                            <th class="roboto-regular-18 blue-bg white-text">Seat</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text">Site&nbsp;name</th> -->
                            <th class="roboto-regular-18 blue-bg white-text text-left">Survey&nbsp;Id</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Vaccine</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text">Site&nbsp;Admin</th> -->
                            <!-- <th class="roboto-regular-18 blue-bg white-text text-left">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observationItem of observationList;"
                            (click)="setVisitRowToLocalStorageForObservation(observationItem)">
                            <td class="txt text-left" width="15%;">
                                <span class="roboto-medium-16">{{ observationItem.start_time |
                                    date:'hh:mm a'}}</span>
                            </td>
                            <td class="text-left" width="25%">
                                <div class="d-flex align-items-center">
                                    <!-- <img src="../../../../assets/images/vaccinator/Image 5.png"> -->
                                    <p class="txt roboto-medium-16 m-0 ml-1">{{
                                        observationItem.$expanded.recipient_fname+"&nbsp;"+observationItem.$expanded.recipient_lname
                                        }}
                                    </p>
                                </div>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                <span *ngIf="observationItem.$expanded.recipient_dob != '1900-01-01'">
                                    {{ observationItem.$expanded.recipient_dob|formatDate }}
                                </span>
                            </td>

                            <td class="roboto-regular-16 text-left txt">
                                {{ observationItem.dose_in_series }}
                            </td>
                            <td class="roboto-regular-16 txt">
                                {{ observationItem.$expanded.seat_name }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ observationItem.ticket_number }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ observationItem.$expanded.vaccine }}
                            </td>
                            <!-- <td class="txt d-flex justify-content-start text-left">
                                <div class="roboto-regular-14 cursor-pointer"
                                     [routerLink]="['/site-admin/edit-recepient',observationItem.recipient_id]">
                                    <i class="fa fa-eye"></i>&nbsp;View
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <ngb-pagination *ngIf="currentTab.total" class="ml-auto" (pageChange)="onPageChange($event)"
                                    [page]="pageIndex" [pageSize]="pageLength" [collectionSize]="currentTab.total">
                    </ngb-pagination>
                </div>
            </div>

            <div *ngIf="currentTab && currentTab.href=='completed'"
                 [ngStyle]="{'display':currentTab.href=='completed' ? 'block': 'none'}" class="tab-pane" id="completed"
                 role="tabpanel" aria-labelledby="completed">
                <table class="table table-stripped  text-center" *ngIf="completedList.length>0">
                    <thead>
                        <tr>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Time</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left px-3">Recipient</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">DOB</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Dose</th>
                            <th class="roboto-regular-18 blue-bg white-text">Seat</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text">Site&nbsp;name</th> -->
                            <th class="roboto-regular-18 blue-bg white-text text-left">Survey&nbsp;Id</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Vaccine</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text">Site&nbsp;Admin</th> -->
                            <!-- <th class="roboto-regular-18 blue-bg white-text text-left">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let completedItem of completedList;" data-toggle="modal">
                            <td class="txt text-left" style="width: 15%;">
                                <span class="roboto-medium-16">{{ completedItem.start_time |
                                    date:'hh:mm a'}}</span>
                            </td>
                            <td class="text-left" width="25%">
                                <div class="d-flex align-items-center">
                                    <!-- <img src="../../../../assets/images/vaccinator/Image 5.png"> -->
                                    <p class="txt roboto-medium-16 m-0 ml-1">{{
                                        completedItem.$expanded.recipient_fname+"&nbsp;"+completedItem.$expanded.recipient_lname
                                        }}
                                    </p>
                                </div>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                <span *ngIf="completedItem.$expanded.recipient_dob != '1900-01-01'">
                                    {{ completedItem.$expanded.recipient_dob|formatDate }}
                                </span>
                            </td>

                            <td class="roboto-regular-16 text-left txt">
                                {{ completedItem.dose_in_series }}
                            </td>
                            <td class="roboto-regular-16 txt">
                                {{ completedItem.$expanded.seat_name }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ completedItem.ticket_number }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ completedItem.$expanded.vaccine }}
                            </td>
                            <!-- <td class="txt d-flex justify-content-start text-left">
                                <div class="roboto-regular-14 cursor-pointer ml-2"
                                     [routerLink]="['/site-admin/edit-recepient',completedItem.recipient_id]">
                                    <i class="fa fa-eye"></i>&nbsp;View
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <ngb-pagination *ngIf="currentTab && currentTab.total" class="ml-auto"
                                    (pageChange)="onPageChange($event)" [page]="pageIndex" [pageSize]="pageLength"
                                    [collectionSize]="currentTab.total"></ngb-pagination>
                </div>
            </div>

            <div *ngIf="currentTab && currentTab.href=='missed'"
                 [ngStyle]="{'display':currentTab.href=='missed' ? 'block': 'none'}" class="tab-pane" id="missed"
                 role="tabpane2" aria-labelledby="missed">
                <table class="table table-stripped  text-center" *ngIf="missedList.length>0">
                    <thead>
                        <tr>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Time</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Recipient</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">DOB</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Dose</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Seat</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Survey&nbsp;Id</th>
                            <th class="roboto-regular-18 blue-bg white-text text-left">Vaccine</th>
                            <!-- <th class="roboto-regular-18 blue-bg white-text text-left">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let missedListItem of missedList;"
                        (click)="!dontMoveIfHistory && setVisitRowToLocalStorage(missedListItem,missedListItem.id,'',$event)"
                        [attr.data-toggle]="!dontMoveIfHistory ? 'modal' : ''" [attr.data-target]="!dontMoveIfHistory ? '#exampleModal1' : ''">
                            <td class="txt text-left" style="width: 15%;">
                                <span class="roboto-medium-16">{{ missedListItem.start_time |
                                    date:'hh:mm a'}}</span>
                            </td>
                            <td class="text-left" width="25%">
                                <div class="d-flex align-items-center">
                                    <p class="txt roboto-medium-16 m-0 ml-1">{{
                                        missedListItem.$expanded.recipient_fname+"&nbsp;"+missedListItem.$expanded.recipient_lname
                                        }}
                                    </p>
                                </div>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                <span *ngIf="missedListItem.$expanded.recipient_dob != '1900-01-01'">
                                    {{ missedListItem.$expanded.recipient_dob|formatDate }}
                                </span>
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ missedListItem.dose_in_series }}
                            </td>
                            <td class="roboto-regular-16 txt text-left">
                                {{ missedListItem.$expanded.seat_name }}
                            </td>

                            <td class="roboto-regular-16 text-left txt">
                                {{ missedListItem.ticket_number }}
                            </td>
                            <td class="roboto-regular-16 text-left txt">
                                {{ missedListItem.$expanded.vaccine }}
                            </td>
                            <!-- <td class="txt d-flex justify-content-start text-left">
                                <div class="roboto-regular-14 cursor-pointer"
                                     [routerLink]="['/site-admin/edit-recepient',missedListItem.recipient_id]">
                                    <i class="fa fa-eye"></i>&nbsp;View
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <ngb-pagination *ngIf="currentTab && currentTab.total" class="ml-auto"
                                    (pageChange)="onPageChange($event)" [page]="pageIndex" [pageSize]="pageLength"
                                    [collectionSize]="currentTab.total"></ngb-pagination>

                                    
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3 class="text-dark" id="exampleModalLabel">Start Appointment</h3>
                <p class="text-muted">Are you sure want to start the {{currentVisitRow.start_time|date:'hh:mm a'}}
                    appointment, If yes please Validate ID and Start Appointment</p>
                <div class="form-group mr-2">
                    <select class="form-control" [(ngModel)]="selectedOption">
                        <option value="" selected>Validated</option>
                        <option value="Passport">Passport</option>
                        <option value="Driving Lisence">Drivers License</option>
                        <option value="State ID">State ID</option>
                        <option value="Bill/Mail">Bill/Mail</option>
                        <option value="No ID">No ID</option>

                    </select>
                </div>
            </div>
            <div class="modal-footer p-0 m-0 d-flex justify-content-between">
                <button data-dismiss="modal" aria-label="Close" type="button"
                        class="btn blue-text px-5 shadow-none">Cancel</button>
                <button data-dismiss="modal" aria-label="Close" type="button" class="btn blue-text px-5 shadow-none"
                        (click)="identificationData(currentVisitRow.id, 'start')">Start</button>
                <!-- [disabled]="selectedOption.trim()==''" -->
            </div>
            <!-- //[routerLink]="['/vaccinator/checklist', currentVisitRow.id, 'start']" -->
        </div>
    </div>
</div>
