.book-slot-container {
  margin: 2rem 8rem;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .text {
    font: normal normal bold 30px/39px Roboto;
    letter-spacing: 0px;
    opacity: 1;
  }

  .btn {
    background: #0984e3 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .filter-text {
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    padding-right: 2rem;
  }

  // .margin-top {
  //   margin-top: 2rem;
  // }

  .time-slot-list {
    width: 35%;
    background-color: #f9faff;
    .padding-right {
      padding-right: 2rem;
    }

    mat-list-item {
      margin-bottom: 1rem;
    }

    .time-btn-active {
      color: #ffffff !important;
      background: #0984e3 0% 0% no-repeat padding-box !important;
    }
    .time-btn-disabled {
      border: 0px solid #0984e3 !important;
      background: #dcdcdc !important;
      // background: #0984e3 0% 0% no-repeat padding-box !important;
    }

    // .book-app-container {
    //     display: flex;
    //     justify-content: center;
    //     margin-top: 2rem;
    // }
  }
  .site-list {
    overflow-y: auto;
    width: 35%;
    .time-btn {
      border-radius: 25px;
      letter-spacing: 0px;
      width: 220px;
      color: #333333;
      padding: 2px 3rem;
      box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12);
      border: 1px solid #0984e3 !important;
      &.success {
        border: 1px solid #90ee90 !important;
        background-color: #90ee90 !important;
      }
      &.warning {
        border: 1px solid rgb(254, 242, 139) !important;
        background-color: rgb(254, 242, 139) !important;
      }
      // &.danger{
      //   border: 1px solid red !important;
      //   background-color: red !important;
      //   color: #ffffff !important;
      // }
    }

    .time-btn-active {
      color: #ffffff !important;
      background: #0984e3 0% 0% no-repeat padding-box !important;
    }
    .time-btn-disabled {
      border: 0px solid #0984e3 !important;
      background: #dcdcdc !important;
      // background: #0984e3 0% 0% no-repeat padding-box !important;
    }
  }

  .border-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 7px;
    margin-bottom: 2.2rem;
  }
  .book-slot-box {
    height: 365px;
    overflow-y: hidden;
  }
}
.book-appointment-btn {
  background: #0984e3 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 2px 23px;
}
:host ::ng-deep .mat-calendar-header {
  background-color: #f0f6ff;
  color: #0984e3;
  border: 1px solid #35446354;
  padding: 0 !important;
}

:host ::ng-deep .mat-calendar-controls {
  margin: 0 !important;
}

.border {
  border: 1px solid #35446354 !important;
}

:host ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator {
  padding: 20px !important;
}

:host ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background: #0984e3 0% 0% no-repeat padding-box;
}

button:focus {
  outline: none !important;
}

.diasabledBtn {
  background-color: #dcdcdc !important;
}
:host ::ng-deep mat-label {
  background-color: white !important;
  color: #0984e3 !important;
}
:host ::ng-deep mat-label:before {
  content: "\2022\2022";
  color: transparent;
}
:host ::ng-deep mat-label:after {
  content: "\2022\2022";
  color: transparent;
}

:host ::ng-deep mat-form-field:hover {
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-color: #0984e3 !important;
  }
}

:host ::ng-deep mat-form-field:focus {
  background-color: black !important;
}

.time-btn {
  border-radius: 25px;
  letter-spacing: 0px;
  width: 220px;
  color: #333333;
  padding: 2px 3rem;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #0984e3 !important;
  &.success {
    border: 1px solid #90ee90 !important;
    background-color: #90ee90 !important;
  }
  &.warning {
    border: 1px solid rgb(254, 242, 139) !important;
    background-color: rgb(254, 242, 139) !important;
  }
  &.warning {
    border: 1px solid rgb(254, 242, 139) !important;
    background-color: rgb(254, 242, 139) !important;
  }
}

// ::ng-deep .cus_recipent_page_book_slot_component {
.recipient-page-book-slot-component-previous-date-class .mat-calendar-body-cell-content.mat-focus-indicator:not(.mat-calendar-body-today){
  background: #f2f2f2 !important;
  pointer-events: none !important;
  border-radius: 100% !important;
}

.recipient-page-book-slot-component-advance-date-class .mat-calendar-body-cell-content.mat-focus-indicator:not(.mat-calendar-body-today){
  background: #c2c4c8 !important;
  pointer-events: none !important;
  border-radius: 100% !important;
}
// }

@media (max-width: 768px) {
  .book-slot-container {
    margin: 15px;
    .d-flex-xs {
      display: block !important;
    }
    .book-slot-box {
      height: 100%;
    }
    .time-slot-list {
      width: 100%;
    }
    .site-list {
      width: 100%;
    }
    .p-0-xs {
      padding: 0 !important;
    }
    .p-10-xs {
      padding: 10px;
    }
    .site-detail {
      margin-top: 0;
      padding: 10px;
    }
    .heading {
      padding: 10px;
    }
    .slot-calender {
      width: 100%;
    }
  }
}
