<div class="auth-reset-password-header mb-5">
    <div class="container d-flex align-items-center">
        <h1 class="roboto-medium-40 text-light m-0">Change Password</h1>
    </div>
</div>
<div class="container py-5">
    <div class="mb-5 d-flex justify-content-end" style="width: 820px;">
        <p class="roboto-regular-20">Your New Password must be different from previous used passwords.</p>
    </div>
    <form [formGroup]="authNewPasswordForm" (ngSubmit)="changePasswordHandler()" autocomplete="off">
        <div class="form-row-width container d-flex justify-content-start flex-column flex-md-row">
            <mat-form-field appearance="outline" class="mx-md-4 w-100" >
                <mat-label>Enter user name</mat-label>
                <input *ngIf="enable" matInput readonly disabled placeholder="Enter user name" formControlName="userName" />
                <input *ngIf="!enable" matInput placeholder="Enter user name" formControlName="userName" />
                <mat-error *ngIf="!authNewPasswordForm.get('userName').valid">User name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mx-md-4 w-100">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'"
                    formControlName="oldPassword" />
                <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off':'visibility' }}</mat-icon>
                <mat-error *ngIf="!authNewPasswordForm.get('oldPassword').valid">{{getErrorMessageForOldPassword()}}
                </mat-error>
               
            </mat-form-field>
        </div>

        <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
            <mat-form-field appearance="outline" class="mx-md-4 w-50">
                <mat-label>Create Password</mat-label>
                <input matInput (keyup)="authNewPasswordForm.get('confirmPassword').updateValueAndValidity()"
                    placeholder="Enter Password" [type]="hide ? 'password' : 'text'" formControlName="password" />
                <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off':'visibility' }}</mat-icon>
                <mat-error *ngIf="authNewPasswordForm.get('password').hasError('required')">{{getErrorMessageForPassword()}}
                </mat-error>
                <mat-error *ngIf="authNewPasswordForm.get('password').hasError('pattern')">{{getErrorMessageForPassword()}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mx-md-4 w-50">
                <mat-label>Confirm New Password</mat-label>
                <input matInput placeholder="Confirm New Password" appConfirmEqualValidator="password"
                    [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" />
                <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off':'visibility' }}</mat-icon>
                <mat-error *ngIf="!authNewPasswordForm.get('confirmPassword').valid">
                    {{getErrorMessageForConfirmPassword()}}</mat-error>
                    <!-- <mat-error *ngIf="authNewPasswordForm.get('confirmPassword').hasError('pattern')">{{getErrorMessageForConfirmPassword()}}
                    </mat-error> -->
            </mat-form-field>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <button type="submit" class="btn roboto-regular-16 white-text vms-btn-primary"
                style="width: 327px; height: 46px">Update</button>
        </div>

    </form>

</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>