<app-component-recipient-header></app-component-recipient-header>

<!-- START : THIS PAGE CODE -->
<div class="container-fluid p-0 d-flex justify-content-center align-items-center"
    style="height: 300px;background-image: url(../../../../assets/images/png/Artboard\ –\ 26.png); background-size: cover; background-position:center;">
    <p class="m-0 roboto-bold-40 blue-text">About Us</p>
</div>
<div class="container py-4">
    <!-- <div class="jumbotron py-1 white-bg">
        <p class="grey-text roboto-regular-24">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at volutpat risus. Etiam tincidunt
            suscipit
            ornare. Morbi tristique ut quam et tempus. Ut nec efficitur erat, accumsan facilisis orci.
        </p>
    </div> -->
    <!-- <div class="jumbotron py-0 white-bg"> -->
        <p class="roboto-regular-24">
          <div class = "font-type">
          At 21-20, our mission is bold, but simple: create the comprehensive vaccine management solution.
        </div>
            <br /><br />
            <div class = "font-type">
            1. Simplifying the Vaccination Process
          </div>
            <br><br/>
                     Our platform makes it easy to schedule vaccination appointments using a centralized
                     appointment management platform where you can check your eligibility and find nearby
                     vaccine administrators, displaying appointment availability and vaccine inventory. After your
                     appointment, you will be issued a QR code-based digital vaccination certificate to verify your
                     shot and manage your record.
                     <br /><br />
                     <div class = "font-type">
                     2. Reopening The World
                     </div>
                     <br><br/>
                     The pandemic has had a devastating impact on the American life. Schools have closed, small
                     businesses are struggling to stay afloat, and millions of Americans have lost their jobs.
                     <br><br/>
                     21-20 will assist in re-instating our way of life in 2-ways. The first is by providing 21-20 users a
                     digital, verified vaccination certificate that can be scanned and verified on their 21-20 profiles.
                     The second is by aggregating and reporting vaccination data to the states so that government
                     and health officials can make an informed decision as to when it is safe to resume our normal
                     way of life.
                     <br><br/>
                     <div class = "font-type">
                     3. Spread Awareness
                    </div>
                     <br><br/>
                     The greatest threat to the vaccine rollout’s success is the willingness of people to take an
                     approved vaccine. In December, a Pew Research Center reported that only 60% of Americans
                     would definitely or probably get a COVID-19 vaccine. Those who opted out cited safety
                     concerns and / or a lack of trust in the development of the vaccine.
                     <br><br/>
                     We strive to use our platform to educate the public about the vaccine as well as provide a portal
                     to report any adverse reactions.
                     <br/><br/>





            <!-- Aliquam ornare velit fringilla purus consequat, quis scelerisque enim hendrerit. Phasellus accumsan leo
            vitae mi cursus pretium. Aliquam erat
            volutpat. Pellentesque sed dui convallis, fringilla nibh at, ultricies enim. Nam euismod commodo metus.
            Curabitur eu dolor vel mi sagittis elementum ut id arcu. Integer id massa felis. Sed sed est scelerisque,
            malesuada mi vitae, faucibus turpis. Curabitur eu tellus et ante pellentesque blandit id egestas orci.
            Phasellus elementum, est ac gravida luctus, massa diam consectetur dui, id porttitor elit enim eget mi. -->

    </div>
<!-- </div> -->
<!-- END :   THIS PAGE CODE -->

<app-component-footer></app-component-footer>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>
