
.bg-light {
  background-color: white !important;
}
.fa-user-circle {
  font-size: 22px;
  color: #0984e3;
}
.nav-link {
  font-weight: bold;
}
.dropdown-menu {
  .nav-link {
    color: black;
    font-weight: bold;
  }
}
.fa-bars{
    color: #002768;
}
li{
    list-style: none;
}
.dropdown-menu {
  position: absolute;
  top: 130%;
  left: -70px;
}
@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    top: 130%;
    left: 0;
  }
}