<app-component-vaccinator-header></app-component-vaccinator-header>
<app-component-dynamic-heading [heading]="'Recipients Details'"></app-component-dynamic-heading>
<div class="container py-4">
    <ng-container *ngIf="rowVisitItem!=null">
        <div class="d-flex justify-content-between align-items-center shadow-sm recipient-details p-3">
            <div class="d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center pb-2">
                    <p class="roboto-medium-18 m-0">Name&nbsp;:&nbsp;</p>
                    <p class="roboto-medium-18 m-0 grey-text">{{
                        rowVisitItem.$expanded.recipient_fname+"&nbsp;"+rowVisitItem.$expanded.recipient_lname }}
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="roboto-medium-18 m-0">Appoinment&nbsp;:&nbsp;</p>
                    <p class="roboto-medium-18 m-0 grey-text">{{ rowVisitItem.start_time | date:'h:mm a' }}</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center pb-2">
                    <p class="roboto-medium-18 m-0">DOB&nbsp;:&nbsp;</p>
                    <p class="roboto-medium-18 m-0  grey-text"> {{getValidDate(rowVisitItem.$expanded.recipient_dob)}}</p>
                </div>
                
                <div class="d-flex align-items-center">
                    <p class="roboto-medium-18 m-0">Vaccine type&nbsp;:&nbsp;</p>
                    <p class="roboto-medium-18 m-0  grey-text">{{rowVisitItem.$expanded.vaccine}}</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center pb-2">
                    <p class="roboto-medium-18 m-0">Survey Id&nbsp;:&nbsp;</p>
                    <p class="roboto-medium-18 m-0  grey-text">{{rowVisitItem.ticket_number}}</p>
                </div>
                <div>
                    <span class="badge" *ngIf="rowVisitItem.dose_in_series==1">1st Dose</span>
                    <span class="badge" *ngIf="rowVisitItem.dose_in_series==2">2nd Dose</span>
                </div>
            </div>
            
            <div class="mx-1" [routerLink]="['/vaccinator/checklist', rowVisitItem.id, type,'true']">
                <i class="fa fa-pencil-square-o"></i> checklist
            </div>
        </div>
    </ng-container>
    <div *ngIf="!isObservation ; else observation" class="conatiner-fluid py-5">
        <div class="row">
            <div class="col-5 d-flex justify-content-between record-text pr-5">
                <h5 class="roboto-medium-20">Record Vaccine Details</h5>
                <!-- <div class="barcode-box">
                    <img src="../../../../assets/images/barcode.svg" alt="barcode">
                    <p>Scan Vial</p>
                </div> -->
            </div>
        </div>
        <!-- {{LotNumberForm.valid}} -->
        <form [formGroup]="LotNumberForm">
        <div class="row">
            <div class="col-5 pr-5">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Lot Number</mat-label>
                    <mat-select formControlName="batch_material_id" #matSelected matInput placeholder="Select"
                      (selectionChange)="selectColor($event)">                  
                        <mat-option  [ngStyle]="materialBatchItem?.material_color? {color: materialBatchItem?.material_color}:''"   
                             *ngFor="let materialBatchItem of _materialBatchList" [value]="materialBatchItem" >
                            {{materialBatchItem.batch_no}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Site Of Administration</mat-label>
                    <mat-select formControlName="site_of_administration" matInput placeholder="Select">
                        <mat-option value="Left Deltoid">Left Deltoid</mat-option>
                        <mat-option value="Right Deltoid">Right Deltoid</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Observation Time</mat-label>
                    <mat-select formControlName="observation_end_time" matInput placeholder="Select" (selectionChange)="changeInObservationTime($event.value)">
                        <mat-option [value]="15 * 60">15 Min</mat-option>
                        <mat-option [value]="30 * 60">30 Min</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Dose Amount Administered (in ml)</mat-label>
                    <input  formControlName="dose_amount_administered_ml" type="text" readonly  matInput />
                    </mat-form-field>

                <!-- {{rowVisitItem.$expanded.vaccine}} -->
                <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Dose Amount Administered (in ml)</mat-label>
                    <mat-select matInput placeholder="Select" [(ngModel)]="doseAmountAdministeredmMl">
                        <mat-option value="0.5">0.5</mat-option>
                        <mat-option value="1">0.3</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field *ngIf="selectedBatchNumber=='__other__'" appearance="outline" class="w-100">
                    <input matInput placeholder="Type Batch No" [(ngModel)]="selectedBatchNumber__other__" />
                </mat-form-field> -->

            </div>
        </div>



        <div class="row">
            <div class="col-4 pr-5">
                <button type="submit" class="btn px-5 roboto-medium-18 rounded-pill"
                    [ngClass]="{'proceed-active-btn':!enableBtn}" [disabled]="!LotNumberForm.valid"
                    (click)="onProceed()">PROCEED</button>
            </div>
        </div>
    </form>
    </div>

    <ng-template #observation>
        <p class="pt-4 roboto-regular-14">Kindly monitor the recipient till the timer completes. In case of any adverse
            reaction select</p>
        <div class="appo-time-box d-flex justify-content-center align-items-center mb-4 overflow-hidden">
            <ng-container *ngIf="counter>0">
                <div style="width: 338px; height:121px;" class="d-flex justify-content-center align-items-center">
                    <p class="blue-text" style="text-align: center;
                    font: normal normal bold 55px/30px Segoe UI;
                    color: #0984E3;
                    opacity: 1;">{{ displayTimeInterval }}</p>
                </div>
            </ng-container>

            <ng-container *ngIf="counter<=0">
                <div style="width: 338px; height:121px;"
                    class="blue-bg d-flex justify-content-center align-items-center">
                    <p class="white-text" style="text-align: center;
                    font: normal normal bold 55px/30px Segoe UI;
                    opacity: 1;">{{ displayTimeInterval }}</p>
                </div>
            </ng-container>
        </div>
        <div class="d-flex align-items-center">
            <button type="button" class="button px-5 rounded-pill mr-5 roboto-medium-18"
                [routerLink]="['/vaccinator/advert-event', visitId,'visits']">Report an Adverse
                Reaction</button>
            <p *ngIf="!enableBtn" class="comp-text m-0 text-success roboto-medium-18 border-0"
                [ngClass]="{'vaccine-dosage-active-btn':!enableBtn}" [disabled]="enableBtn">VACCINE DOSAGE
                COMPLETED</p>
        </div>
    </ng-template>

</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>