<app-component-dynamic-heading [heading]="'Site - '+(isNew ? 'Add New' : 'Edit')+' Site'"></app-component-dynamic-heading>
<div class="container text-muted my-2">
    <span [routerLink]="['/provider/dashboard']">Provider</span> >
    <span [routerLink]="['/provider/site']">Site</span> >
    <span>{{ isNew ? "Add New" : "Edit" }} Site</span>
</div>

<div class="container mb-5">
    <h2 class="mb-4">{{ isNew ? "New" : "Update" }} Site Details</h2>
    <div>
        <form class="container d-flex flex-column p-0" [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>NJIIS Facility Id </mat-label>
                    <input matInput placeholder="NJIIS Facility Id" maxlength="25" formControlName="siteKey" />
                    <!-- <mat-error *ngIf="formGroup.get('siteKey').hasError('required')">
                        NJIIS Facility Id is required
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('siteKey').hasError('pattern')">
                       Enter Minimum 6 Alphanumeric
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
               
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label> State </mat-label>
                    <mat-select matInput placeholder="State" formControlName="state">
                        <mat-option *ngFor="let state of states; let i = index" [value]="state">{{ state }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>County </mat-label>
                    <mat-select matInput placeholder="County" formControlName="county">
                        <mat-option *ngFor="let county of counties; let i = index" [value]="county">{{ county }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Provider</mat-label>
                    <mat-select matInput placeholder="Provider" formControlName="provider">
                        <mat-option *ngFor="let data of providers; let j = index" [value]="data.id">
                            {{ data.provider_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Site Name *</mat-label>
                    <input matInput placeholder="Site Name " maxlength="25" formControlName="site_name" />
                    <mat-error *ngIf="!formGroup.get('site_name').valid">
                        Site Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Facility Name</mat-label>
                    <mat-select matInput placeholder="Facility" formControlName="facility">
                        <mat-option value="1">facility1</mat-option>
                        <mat-option value="2">facility2</mat-option>
                    </mat-select>

                </mat-form-field>
            </div> -->

            <div class="form-row-width container d-flex justify-content-start flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100" style="width: 500px !important;">
                    <mat-label>Site Address</mat-label>
                    <input matInput placeholder="Address" maxlength="25" formControlName="address" />
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" maxlength="25" formControlName="city" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Zipcode</mat-label>
                    <input matInput placeholder="Zipcode" maxlength="25" formControlName="zipcode" #zipcode  (input)='fetchZipCode(zipcode)' />
                </mat-form-field>
            </div>
            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" maxlength="25" formControlName="email" />
                    <mat-error *ngIf="formGroup.get('email').hasError('pattern')">
                        Email must be a valid
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label [ngClass]="{ 'ml-5 pl-2': isNew }">Phone Number</mat-label>
                    <div *ngIf="!isNew">
                        <input matInput placeholder="Phone Number" formControlName="phone" />
                    </div>
                    <div *ngIf="isNew">
                        <input matInput placeholder="Phone Number" formControlName="phone" ng2TelInput
                            [ng2TelInputOptions]="{ initialCountry: 'us' }"
                            (countryChange)="onDialCodeChange($event)" />
                    </div>
                    <mat-error *ngIf="formGroup.get('phone').hasError('pattern')">
                        Enter valid phone number.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Latitude</mat-label>
                    <input matInput maxlength="25" formControlName="latitude" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mx-md-4 w-100">
                    <mat-label>Longitude</mat-label>
                    <input matInput maxlength="25" formControlName="longitude" type="number" />
                </mat-form-field>
            </div>

            <div class="form-row-width container d-flex justify-content-center flex-column flex-md-row">
                <div class="d-flex center py-3 mr-3">
                    <button class="btn roboto-medium-18 save-btn white-text" type="submit">Save</button>
                </div>
                <div class="d-flex center py-3 ml-3">
                    <button class="btn roboto-medium-18 cancel-btn" type="button" [routerLink]="['/provider/site']">
                        Cancel
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>