<app-component-dynamic-heading [heading]="'Register'"></app-component-dynamic-heading>
<div class="container">
    <div class="bottom-border mb-3">
        <div class="mb-3 roboto-medium-20">
            <p>
                We'll ask some questions to determine when you are able to get the
                COVID-19 vaccine. This information will be kept private with the State
                of New Jersey and only used to register you to receive a COVID-19
                vaccine.
            </p>
        </div>
        <p class="mb-3 roboto-medium-20">
            Are you a First Responder or Healthcare Worker? *
        </p>
        <ul>
            <li>
                <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
            </li>
            <li>
                <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
            </li>
        </ul>
    </div>

    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20">
            Do you work (paid or unpaid) or volunteer in a healthcare setting?
        </p>
        <ul>
            <li>
                <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
            </li>
            <li>
                <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
            </li>
        </ul>
    </div>

    <div class="bottom-border mb-3">
        <p class="mb-3 roboto-medium-20"></p>
        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Do you live or work in a long-term care setting?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>
        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Do you work in any of the following businesses? *
            </p>
            <ul>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Agriculture and food
                        production</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Building/home services</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Child Care</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Clergy</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Communication
                        systems/media</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Education (Early Childhood/K-12
                        Education) – teachers,
                        administrators, janitors, and, other staff members</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Education (Higher
                        Education)</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Elder care</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Flight Crew/Airport
                        Workers</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Food distribution – Grocery,
                        wholesale,
                        delivery services</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Frontline First
                        Responder</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Homeless, food pantry, social
                        services
                        support staff</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">IT communications providing
                        direct
                        customer service</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Judicial system</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Laundry services</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Medical supplies manufacturing
                        &
                        distribution</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Postal and shipping
                        services</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Public safety – Law
                        enforcement, fire,
                        prison guards, etc.</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Public transportation (except
                        air
                        travel/airport workers)</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Real estate</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Retail financial services –
                        banks, check
                        cashing</span>
                </li>

                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Sanitation</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Utility Company</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">Warehousing and
                        logistics</span>
                </li>
                <li>
                    <input type="checkbox" />&nbsp;&nbsp;<span class="roboto-regular-18">None of the above</span>
                </li>
            </ul>
        </div>



        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Do any of the following apply to you?*

            <p>I have experienced homelessness in the past 30 days</p>
            <p>I live in a shelter</p>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Are you currently pregnant?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Are you currently breastfeeding?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Have you ever tested positive for COVID-19?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                If you have had COVID-19, did you receive antibody therapy for COVID-19 in the past 90 days?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Do you have any conditions that cause you to be immune compromised (have a weakened immune system),
                including taking immune suppressing medications?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Do you have a history of severe allergic reaction to another vaccine or to any injectable therapy
                (medicine that was given to you via injection)?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

        <div class="bottom-border mb-3">
            <p class="mb-3 roboto-medium-20">
                Will this be your first COVID-19 vaccine dose?
            </p>
            <ul>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">Yes</span>
                </li>
                <li>
                    <input type="radio" />&nbsp;&nbsp;<span class="roboto-regular-18">No</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-center my-5">
        <button type="button" class="btn rounded-pill blue-2-bg save-btn ml-3" (click)='savedata()'>SAVE</button>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>