@charset "UTF-8";
.site-admin-vaccine-header {
  background: transparent linear-gradient(270deg, #71b7fe 0%, #0984e3 100%) 0%
    0% no-repeat padding-box;
  padding: 2.2rem 0;
  i {
    font-size: 22px;
    font-weight: lighter;
  }
}

.bg-primary {
  background: #ffffff 0% 0% no-repeat padding-box !important;
}

.vaccinator-schedule-header {
  // background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 1.2rem 0;
  i {
    color: #ffffff;
    font-size: 40px;
  }
}

.btn {
  background: #0984e3 0% 0% no-repeat padding-box;
  border-radius: 5px;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0 4rem;
}

:host ::ng-deep .mat-checkbox-inner-container {
  padding: 10px;
}

.term-cond-text {
  letter-spacing: 0px;
  opacity: 1;
  padding-left: 1rem;
}

.highlight {
  color: #0984e3;
}

.check-box-div {
  margin-top: 12px;
}

.vms-sign-up {
  .mat-input-element {
    font-weight: 500;
    font-size: 18px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f54e4e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0bb047;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.unchecked {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.vertical-seperator {
  border-left: 2px solid black;
  height: 20px;
  position:absolute;
  left: 50%;
}

h6{
  margin-right: 25px;
}

.checked{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  vertical-align: middle;
}
