.site-admin-list-add-header {
  background: transparent linear-gradient(270deg, #71b7fe 0%, #0984e3 100%) 0%
    0% no-repeat padding-box;
  padding: 2.2rem 0;
  i {
    font-size: 22px;
    font-weight: lighter;
  }
}

.search-form-field {
  width: 230px;
}

:host ::ng-deep .table-action-strip {
  .mat-form-field-flex > .mat-form-field-infix {
    // border: 0 !important;
    padding: 0.4em 0px !important;
    padding-bottom: 0.6em !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
}

.open {
  background-color: darkgreen;
  height: 42px !important;
}

.missed {
  background-color: rgb(224, 102, 54);
  height: 42px !important;
}

.open-button-color {
  background-color: darkgreen;
}

.cus-pad-title {
  padding: 3px 10px;
}

.seat {
  color: white;
  width: 100%;
  margin-top: 9px;
}

.booked-button-color {
  background-color: lightgreen;
}
.time-slot {
  color: white;
  background-color: rgb(54, 170, 224);
  border: 0;
  border-radius: 0;
  height: 42px !important;
}
.private {
  color: white;
  background-color: rgb(224, 179, 54);
  height: 42px !important;
  border: 1px black solid;
  text-transform: capitalize;
}

.public {
  color: white;
  background-color: rgb(54, 170, 224);
  height: 42px !important;
  border: 1px black solid;
  text-transform: capitalize;
}

.booked,
.open,
.missed {
  color: white;
  border: 1px black solid;
  text-transform: capitalize;
  height: 36px!important;
}

.booked {
  color: #000;
  background-color: lightgreen;
}

.w-100 {
  width: 100% !important;
}

button[mat-stroked-button] {
  width: 150px !important;
}
button[mat-stroked-button].booked-btn {
  width: 400px !important;
  background-color: lightgreen;
  border: 1px black solid;
  text-transform: capitalize;
  line-height: 45px !important;
}
.inner-book-line {
  background-color: black solid;
}
// .table thead th {
//   border-bottom: 0;
// }
// .table td {
//   border-top: 0;
// }
// .table th {
//   border-top: 0;
// }
// .table-head {
//   border-top: 0;
//   border-left: 0;
//   border-right: 0;
//   border-bottom: 1px solid black;
//   border-style: dashed;
// }

// .table > thead:first-child > tr:first-child > th:first-child {
//   position: absolute;
//   display: inline-block;
//   // background-color: white;
//   z-index: 10;
//   // background-color: red;
//   // height: 100%;
// }

// .table > tbody > tr > td:first-child {
//   position: absolute;
//   display: inline-block;
//   // background-color: white;
//   z-index: 10;
//   // height: 100%;
// }

// .table > thead:first-child > tr:first-child > th:nth-child(2) {
//   padding-left: 175px !important;
// }

// .table > tbody > tr > td:nth-child(2) {
//   padding-left: 175px !important;
// }
.left-arrow {
  width: 30px;
  height: 30px;
  padding-left: 8px;
  padding-top: 4px;
  cursor: pointer;
}
.right-arrow {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 4px;
  cursor: pointer;
}
.arrow {
  position: sticky;
  bottom: 11%;
  z-index: 99;
}
// @media(min-width:768px){
//   .arrow {
//     position: sticky;
//     bottom: 53%;
//     z-index: 99;
//   }
// }
// @media(min-width:1024px){
//   .arrow {
//     position: sticky;
//     bottom: 62%;
//     z-index: 99;
//   }
// }
// @media(min-width:1366px){
//   .arrow {
//     position: sticky;
//     bottom: 40%;
//     z-index: 99;
//   }
// }

.table-scroll {
	position:relative;
	max-width:100%;
	margin:auto;
	overflow:hidden;
	// border:1px solid #000;
}
.table-wrap {
	width:auto;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	// border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
.table-scroll div table thead th {
  border-bottom: 1px dotted!important;
}
.clone thead th {
  border-bottom: 1px dotted!important;
}

.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	// color:red;
}
.clone .fixed-side {
	// border:1px solid #000;
	background:#fdfbfb;
  width: 5%;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

.table-scroll div > table > tbody > tr > td:first-child {
  position: absolute;
  display: inline-block;
  // border-bottom: dotted blue;
  // background-color: white;
  z-index: 10;
  // height: 100%;
}

// .table-scroll>div>table>tbody>tr>td:nth-child(2), .table-scroll>div>table>thead:first-child>tr:first-child>th:nth-child(2){
//   padding-left: 175px!important;
// }



#style-1::-webkit-scrollbar {
  width: 1px;
}

/* Track */
#style-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#style-1::-webkit-scrollbar-thumb {
  background: #0984e3; 
  border-radius: 10px;
}

/* Handle on hover */
#style-1::-webkit-scrollbar-thumb:hover {
  background: #0984e3; 
}

.vaccine-status {
  .mat-form-field-appearance-outline .mat-form-field-flex:hover .mat-form-field-outline-thick {
    opacity: 1 !important;
    transition: opacity 600ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0984e3 !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #0984e3 !important;
  }

  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #212529 !important;
  }

  .mat-input-element {
    text-align: center;
  }
}