:host ::ng-deep {
  ngb-accordion {
    .card {
      margin-bottom: .4rem;
      border: none;
      border-radius: 0;
      font-size: 1rem;

      .card-header {
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: #f5fcfc;

        .panel-header {
          padding: 1rem;
          display: flex;
          font-weight: 500;

          span.fa {
            margin-left: auto;
          }
        }
      }

      .card-body {

      }
    }
  }
}
