.highlight {
  color: #0984e3;
}

.terms-cursor {
  cursor: pointer;
}

.policy-cursor {
  cursor: pointer;
}

.check-box-div {
  margin-top: 12px;
}

.bottom-border {
  border-bottom: 1px solid #707070 !important;

  ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
  }
}

.form-group {
  width: 343px;
  height: 50px;
}

ul {
  list-style: none;
}
.cancel-btn {
  background-color: #999999 !important;
  width: 110px !important;
  height: 40px !important;
}
.update-btn {
  width: 110px !important;
  height: 40px !important;
}
.term-cond-text {
  letter-spacing: 0px;
  opacity: 1;
  padding-left: 1rem;
}