.site-setting-password-header {
    background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2.2rem 0;
}

.card{
  width: 335px !important;
  height: 170px;
  background-color: #F5F5F5 !important;
}
.backgd {
  background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 15px #05273130;
}
