<div class="container-fluid">
    <app-component-dynamic-heading [heading]="''" [dashboardHeader]="true"></app-component-dynamic-heading>
    <!-- <div class="py-4 height_div">
        <div class="d-flex justify-content-between backgd text-light my-3 mouse-hover" style="height: 110px;">
            <div class="p-4 w-75">
                <h1 class="m-0 roboto-medium-22">Welcome <span>
                {{(loggedInUser$ | async)?.fname}} {{(loggedInUser$ | async)?.lname}} &nbsp;</span></h1>
                <hr class="bg-light mb-2" />
                <p class="m-0 roboto-medium-26">
                </p>
            </div>
            <img class="mr-5" src="../../../../assets/images/vaccinator/Group 52521.svg" />
        </div>
    </div> -->
</div>
<!-- <div class="py-5 mt-4"> 
    
</div>-->
<!-- <app-component-footer-copyright-strip></app-component-footer-copyright-strip> -->