

// colors
.black-0.text {
  color: $black-0 !important;
}
.light-grey-bg {
  color: $light-grey !important;
}

.blue-text {
  color: $blue !important;
}

.navy-text {
  color: $nevy-blue !important;
}

.blue-text-1 {
  color: $blue-text !important;
}

.black-1-text {
  color: $black-1 !important;
}

.white-text {
  color: $white !important;
}

.blue-0-text {
  color: $blue-0 !important;
}

.green-text {
  color: #118484 !important;
}

.bg-blue {
  background-color: #0984e3 !important;
}

.grey-text {
  color: $grey !important;
}

.dim-black-text {
  color: $dim-black !important;
}

.white-5-text {
  color: $white-5 !important;
}

// bg-colors
.blue-bg {
  background-color: $blue !important;
}

.blue-2-bg {
  background-color: $blue-2 !important;
}

.blue-1-bg {
  background-color: $blue-1 !important;
}

.grey-bg {
  background-color: $grey !important;
}

.light-grey-bg {
  background-color: $light-grey !important;
}

.light-grey-text {
  color: $light-1-grey !important;
}

.green-bg {
  background-color: $green !important;
}

.green1-bg {
  background-color: $green1 !important;
}

.blue-bg {
  background-color: $blue !important;
}

.nevy-blue-bg {
  background-color: $nevy-blue !important;
}

.dark-blue-bg {
  background-color: $dark-blue !important;
}

.white-bg {
  background-color: $white !important;
}

.light-blue-bg {
  background-color: $light-blue !important;
}

.white-2-bg {
  background-color: $white-2 !important;
}

.blue-1-bg {
  background-color: $blue-1;
}

.blue-2-bg {
  background-color: $blue-2;
}
