// fonts
.segoe-bold-80 {
  font-family: "Segoe UI" !important;
  font-weight: 700 !important;
  font-size: 80px !important;
}

.roboto-regular-10 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 10px !important;
}

.roboto-italic-16 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  font-style: italic;
}

.roboto-regular-13 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.roboto-regular-11 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 11px !important;
}

.poppins-regular-10 {
  font-family: Poppins !important;
  font-size: 10px !important;
}

.poppins-regular-16 {
  font-family: Poppins !important;
  font-size: 16px !important;
}

.roboto-regular-12 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.roboto-bold-13 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.roboto-bold-13 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 13px !important;
}

.roboto-bold-16 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.roboto-regular-14 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.roboto-regular-16 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.roboto-medium-16 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.roboto-regular-18 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.roboto-medium-18 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.roboto-medium-14 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.roboto-medium-18 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.roboto-medium-19 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 19px !important;
}

.roboto-regular-19 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 19px !important;
}

.roboto-regular-24 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 24px !important;
}

.roboto-light-20 {
  font-family: Roboto !important;
  font-weight: 200 !important;
  font-size: 20px !important;
}

.roboto-medium-20 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.roboto-medium-22 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 22px !important;
}

.roboto-medium-24 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 24px !important;
}

.roboto-medium-25 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 25px !important;
}

.roboto-regular-20 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 20px !important;
}

.roboto-bold-20 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}

.roboto-bold-24 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.roboto-regular-26 {
  font-family: Roboto !important;
  font-weight: 400 !important;
  font-size: 26px !important;
}

.roboto-medium-26 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 26px !important;
}

.roboto-medium-30 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 30px !important;
}

.roboto-bold-33 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 33px !important;
}

.roboto-medium-40 {
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-size: 40px !important;
}

.roboto-bold-40 {
  font-family: Roboto !important;
  font-weight: 700 !important;
  font-size: 40px !important;
}

.fs-36 {
  font-size: 2.25rem !important;
}

.fs-34 {
  font-size: 2.125rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-12 {
  font-size: .75rem !important;
}

.fwb {
  font-weight: 700 !important;
}

.fwm {
  font-weight: 500 !important;
}

.fwr {
  font-weight: 400 !important;
}

.fwl {
  font-weight: 300 !important;
}
