<app-component-recipient-header></app-component-recipient-header>
<div class="auth-email-header mb-5">
    <div class="container d-flex align-items-center">
        <h1 class="roboto-medium-40 text-light m-0">Check your mail</h1>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <p class="roboto-regular-20 pb-4">We have sent a password recover instructions to your email</p>
        <img src="../../../../assets/images/png/Email passowrd.png" alt="">
        <div class="py-5">
            <p class="roboto-regular-14">Did not receive the email ? Check your spam folder. <a class="blue-text-1">or try another email address</a></p>
        </div>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>
