.facility-admin-manage-calender-header {
    background: transparent linear-gradient(270deg, #71B7FE 0%, #0984E3 100%) 0% 0% no-repeat padding-box;
    padding: 2.2rem 0;
    i {
        font-size: 22px;
        font-weight: lighter;
    }
}

.manage-calender-heading-strip {
    background: #EDEDED 0% 0% no-repeat padding-box;
}

.accordion {
    width: 1008px;
    height: 51px;
    background: #D2E4FE6E 0% 0% no-repeat padding-box;
    border: 1px solid #9CB2C9;
    border-radius: 4px 4px 0px 0px;
}

.form-group {
    width: 343px;
    height: 50px;
}