<app-component-facility-admin-header></app-component-facility-admin-header>
<div class="facility-admin-manage-calender-header mb-5">
    <div class="container d-flex align-items-center">
        <i class="fa fa-arrow-left white-text"></i>
        <h1 class="roboto-medium-40 white-text m-0 px-2">MANAGE CALENDER</h1>
    </div>
</div>
<div class="container">
    <div>
        <p class="roboto-bold-20">List</p>
        <div class="d-flex align-items-center mt-5">
            <div class="form-group mr-2">
                <select class="form-control">
                    <option>New York Presbyterian Hospital</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="form-group ml-2">
                <select class="form-control">
                    <option>New York Presbyterian Hospital 01</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="manage-calender-heading-strip p-2 mb-4">
        <p class="m-0 roboto-bold-14">Same schedule for all seats : No</p>
    </div>
    <div class="d-flex mb-4">
        <p class="roboto-medium-16 light-grey-text pl-2">Seat :&nbsp; </p>
        <p class="roboto-medium-16">All Seat</p>
    </div>
    <table class="table table-striped mb-3">
        <tbody>
            <tr class="blue-1-bg white-text">
                <th class="txt roboto-regular-18">Days of operation</th>
                <th class="txt roboto-regular-18">Exclude Holiday's</th>
                <th class="txt roboto-regular-18">Exclude Holiday's</th>
                <th class="txt roboto-regular-18">24 Hours Operation</th>
                <th class="txt roboto-regular-18">Start Time</th>
                <th class="txt roboto-regular-18">End Time</th>
                <th class="txt roboto-regular-18">Break Time</th>
                <th class="txt roboto-regular-18">Slot Time</th>
                <th class="txt roboto-regular-18"></th>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-medium-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="mb-5">
        <p class="roboto-medium-20">Do all seats have same schedule?</p>
        <label class="radio-inline"><input type="radio" name="optradio" checked>&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;
        <label class="radio-inline"><input type="radio" name="optradio">&nbsp;&nbsp;No</label>

    </div>
    <div class="accordion md-accordion mb-4" id="accordionEx" role="tablist" aria-multiselectable="true">
        <!--start Accordion card 1 -->
        <div class="card rounded-0">
            <!-- Card header -->
            <div class="card-header ripdy-bg-light" role="tab" id="heading1">
                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-parent="#accordionEx" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <h5 class="mb-0 card-header-text roboto-medium-20">Seat 1</h5>
                    <i class="fa fa-angle-down card-header-icon"></i>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--end Accordion card 1 -->
        <!--start Accordion card 2 -->
        <div class="card rounded-0">
            <!-- Card header -->
            <div class="card-header ripdy-bg-light" role="tab" id="heading2">
                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-parent="#accordionEx" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <h5 class="mb-0 card-header-text roboto-medium-20">Seat 2</h5>
                    <i class="fa fa-angle-down card-header-icon"></i>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapse1" class="collapse show" role="tabpane2" aria-labelledby="heading2" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--end Accordion card 2 -->
        <!--start Accordion card 3 -->
        <div class="card rounded-0">
            <!-- Card header -->
            <div class="card-header ripdy-bg-light" role="tab" id="heading3">
                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-parent="#accordionEx" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    <h5 class="mb-0 card-header-text roboto-medium-20">Seat 3</h5>
                    <i class="fa fa-angle-down card-header-icon"></i>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapse1" class="collapse show" role="tabpane3" aria-labelledby="heading3" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--end Accordion card 3 -->
        <!--start Accordion card 3 -->
        <div class="card rounded-0">
            <!-- Card header -->
            <div class="card-header ripdy-bg-light" role="tab" id="heading4">
                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-parent="#accordionEx" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    <h5 class="mb-0 card-header-text roboto-medium-20">Seat 4</h5>
                    <i class="fa fa-angle-down card-header-icon"></i>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapse1" class="collapse show" role="tabpane4" aria-labelledby="heading4" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--end Accordion card 4 -->
        <!--start Accordion card 5 -->
        <div class="card rounded-0">
            <!-- Card header -->
            <div class="card-header ripdy-bg-light" role="tab" id="heading5">
                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-parent="#accordionEx" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    <h5 class="mb-0 card-header-text roboto-medium-20">Seat 5</h5>
                    <i class="fa fa-angle-down card-header-icon"></i>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapse5" class="collapse show" role="tabpane5" aria-labelledby="heading5" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--end Accordion card 5 -->

    </div>
    <hr>
    <table class="table table-striped mb-3">
        <tbody>
            <tr class="blue-1-bg white-text">
                <th class="txt roboto-regular-18">Seat no.</th>
                <th class="txt roboto-regular-18">Days of operation</th>
                <th class="txt roboto-regular-18">Exclude Holiday's</th>
                <th class="txt roboto-regular-18">24 Hours <br />Operation</th>
                <th class="txt roboto-regular-18">Start Time</th>
                <th class="txt roboto-regular-18">End Time</th>
                <th class="txt roboto-regular-18">Break Time</th>
                <th class="txt roboto-regular-18">Slot Time</th>
                <th class="txt roboto-regular-18"></th>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">01</td>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-regular-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text roboto-regular-16">15 Min</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">01</td>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-regular-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text roboto-regular-16">15 Min</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">01</td>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-regular-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text roboto-regular-16">15 Min</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">01</td>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-regular-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text roboto-regular-16">15 Min</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
            <tr>
                <td class="txt blue-text roboto-medium-16">01</td>
                <td class="txt blue-text roboto-medium-16">Mon, Tue, Wed, Thu, Fri</td>
                <td class="txt blue-text roboto-medium-16">Exclude Nation Holiday's</td>
                <td class="txt blue-text roboto-medium-16">No</td>
                <td class="txt blue-text roboto-regular-16">8:00 Am</td>
                <td class="txt blue-text roboto-regular-16">6:00 Pm</td>
                <td class="txt blue-text roboto-regular-16">13:00 - 13:30 Pm</td>
                <td class="txt blue-text roboto-regular-16">15 Min</td>
                <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                    <i class="fa fa-trash-o border p-1 ml-1"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>