<app-component-facility-admin-header></app-component-facility-admin-header>
<div class="facility-admin-manage-vaccine-header mb-5">
    <div class="container d-flex align-items-center">
        <i class="fa fa-arrow-left white-text"></i>
        <h1 class="roboto-medium-40 white-text m-0 px-2">MANAGE VACCINE</h1>
    </div>
</div>
<div class="container mt-5 d-none">
    <div class="text-center">
        <p class="roboto-regular-20">You have not added Vaccinator please add Vaccinator below</p>
        <button class="btn poppins-regular-16 blue-2-bg white-text py-1 px-3 mt-3">+ Add Vaccine</button>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <p class="roboto-bold-20 m-0">List of Site</p>
            <button class="btn roboto-medium-16 white-text blue-2-bg px-3 py-1">+ Add Vaccine</button>
        </div>
        <table class="table table-striped mb-3">
            <tbody>
                <tr class="blue-1-bg white-text">
                    <th class="txt roboto-regular-18">Site Name</th>
                    <th class="txt roboto-regular-18">Vaccine</th>
                    <th class="txt roboto-regular-18">Quantity in Vials</th>
                    <th class="txt roboto-regular-18">Received Date</th>
                    <th class="txt roboto-regular-18">Expiry</th>
                    <th class="txt roboto-regular-18"></th>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
                <tr>
                    <td class="txt blue-text roboto-medium-16"> New York Presbyrerian Hospital </td>
                    <td class="txt blue-text roboto-medium-16">Pfizer</td>
                    <td class="txt blue-text roboto-medium-16">100</td>
                    <td class="txt blue-text roboto-medium-16">01 Jan 2021</td>
                    <td class="txt blue-text roboto-regular-16">01 Apr 2021</td>
                    <td class="txt blue-text"><i class="fa fa-pencil-square-o border p-1 mr-1"></i>
                        <i class="fa fa-trash-o border p-1 ml-1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-component-footer-copyright-strip></app-component-footer-copyright-strip>